body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 1200px;
    margin-bottom: 10px;
}

.video {
    width: 100%;
    cursor: pointer;
}

video:fullscreen {
    width: 100%;
    height: 100%;
}
